
.website-layout{
    background-color: lightblue;
}
.website-layout h1{
    background-color: green;
    text-align: center;

}
.website-layout h2{
    background-color: orange;
    text-align: center;

}
.box1{
    width: 30%;
    background-color: purple;
    float: left;
    height: 200px;
    text-align: center;
    color: white;
}
.box2{
    width: 40%;
    background-color: blue;
    float: left;
    height: 200px;
    text-align: center;
    color: white;
}
.box3{
    width: 30%;
    background-color: black;
    float: left;
    height: 200px;
    text-align: center;
    color: white;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.main-parent{
    clear: both;
}
.clear{
    float: left;
}
.clear2{
    float: right;
}