body {
    padding: 4rem 0;
}

.grid-container-column,
.grid-container-column-percent,
.grid-container-line,
.grid-container-row-line,
.grid-container-line-percent,
.grid-container-row-percent,
.grid-row-merge {
    display: grid;
    height: 300px;
    background: #000;
    padding: 1rem;
}

.grid-container-column,
.grid-container-column-percent,
.grid-container-line,
.grid-container-row-line,
.grid-container-line-percent,
.grid-container-row-percent {
    grid-template-columns: auto auto auto auto auto;
}

.grid-container-row {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    height: 300px;
    background: #000;
    padding: 1rem;
}

.grid-container-column-percent {
    grid-template-columns: 20% 30% 10% 15% 25%;
}

.grid-container-row-percent {
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 10% 15% 25%;
    height: 500px;
}

.child {
    background-color: red;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.grid-container-line,
.grid-container-row-line {
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.grid-container-line-percent {
    grid-template-columns: 30% 40% auto;
    gap: 1rem;
}

/* this is for column */
.grid-container-line .child-12 {
    grid-column: 1/3;
}

.grid-container-line .column-45 {
    grid-column: 1/3;

}

.grid-container-line .column-89 {
    grid-column: 2/4;
}

.grid-row-merge {
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.child.row-merge14 {
    grid-column: 1;
    grid-row: 1/3;
}

.child.row-merge69 {
    grid-column: 3;
    grid-row: 2/4;
}

.window-container {
    height: 600px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    width: 50%;
    padding: 2rem;
    margin: auto;
    margin-top: 1rem;
}

.window-container .window-chi {

    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    background-color: red;

}
.window-container .leftside
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.window-chi.child2{
   grid-column: 2/5;
}

.window-chi.child5{
    grid-row: 2/4;
}
.window-chi.child8{
    grid-column-start: 4;
    grid-row: 2/4;
}
.window-chi.child14{
    grid-column: 2/5;
}
.window-container .rightside
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: dense;
    direction: rtl;
    
}