body {
    padding: 20px;
    margin: 0px;
    width: 1300px;


}

:root {
    --background-red: #ff0000;
    --background-blue: #1600ff;
    --background-green: #008001;
    --background-yellow: #ffa500;
}

.bg-red {
    background-color: var(--background-red);
}

.bg-blue {
    background-color: var(--background-blue);
}

.bg-yellow {
    background-color: var(--background-yellow);
}

.bg-green {
    background-color: var(--background-green);
}
.dg{
    display: grid;
    height: 30px;
    margin-bottom: 10px;
}

.row1 {
    grid-template-columns: auto auto;
    margin: 5px;
}

.row2 {
    grid-template-columns: auto 40px;
}
.row3 {
    grid-template-columns: 40px auto 40px;
}
.row4 {
    grid-template-columns: auto 40px;
}
.row5 {
    grid-template-columns: auto;
}
.row5 .bg-green{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row5 .bg-red{
    height: 20px;
    width: 20px;
}
.row6 {
    grid-template-columns: auto 40px auto;
}
.row7 {
    grid-template-columns: 40px auto;
}
.row7-sanjay{
    grid-template-columns: 40px auto;
}
.row7-sanjay .bg-green{
    height: 10px;
    width: 100%;
}
.row7-sanjay .bg-blue{
    display: flex;
    align-items: center;
}
.row8 {
    grid-template-columns: 40px auto 40px auto  40px auto 40px auto 40px;
}
.row9 {
    grid-template-columns:  auto 10px auto  10px auto 10px auto 10px auto;
}

